@media screen and (max-width:1400px){
    #profile{
       flex-direction: row;
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers{
        flex-wrap: wrap;
    }
    #contact{
        margin-top:auto;
    }
}

@media screen and (max-width:1200px){
    #profile{
        flex-direction: column;
        gap: 2rem;
    }

   
    #desktop-nav{
        display:none;
    }
    #hamburger-nav{
        display: flex;
    }
    #experience, .experience-details-container{
        margin-top: 2rem;
    }
    #profile, .section-container{
        display: block;
    }
    .arrow{
        display: none;
    
    }
    section, .section-container{
        height: fit-content;
        margin:0 5%;
    }
    .section__pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
      
    }
    .about-pic-container{
        margin-left: auto;
        margin-right: 16rem;
        width: 50%;
        padding:5px;
    }
    
    .about-containers{
        margin-top: 0; 
    }
    .section-container{
        align-items: center;
    }
    #contact{
        margin-top:auto;
    }
    
}@media screen and (max-width:411px){
    .contact-infor-upper-container{
        flex-wrap: wrap;
        margin-right: 4px;
    }
}

@media screen and (max-width:600px){
    #contact, footer{
        height: 40vh;
    }
    #profile{
        height: 83vh;
        margin-bottom: 0; 
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
   .contact-infor-upper-container, .btn-container{
        flex-wrap: wrap;
        gap: 0.5rem;
   
    }
    .about-containers{
        display: flex;
    }
    .about-pic{
        height: 250px;
        width: 310px;
      
    }
    .about-pic-container{
        height: 300px;
        width: 350px;
        margin: auto;
    }
    #about{
        margin-top: 5rem;
    }
    .contact-info-container{
        margin:0; 
    }
    .contact-info-container p, .nav-links li a{
       font-size: 1rem;
    }
    .experience-sub-title{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
}
